alabaster==0.7.8
Babel==2.3.4
beautifulsoup4==4.4.1
bs4==0.0.1
docutils==0.12
imagesize==0.7.1
Jinja2==2.8
MarkupSafe==0.23
Pygments==2.7.4
python-igraph==0.7.1.post6
pytz==2016.4
PyX==0.12.1
regex==2016.6.24
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.4.4
